@media (max-width: 700px) {
    .header img{
        height: 150px;
        width: 350px;
    }
    
    .menu{
        height: 100px;
    }

    .opcoes {
        display: flex;
        flex-direction: column;
        height: 100px; 
    }
    
    .link {
        font-size: 17px;
        padding: 2px;
        color: rgb(9, 20, 38);
        text-decoration: underline;
    }
       
    .descricao {
        background-color: rgb(9, 20, 38);
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .servicos{
        width: 0px;
    }
    
    .texto {
       margin-top: 0%;
       margin-left: 5%;
    }
    .texto p{
        line-height: 45px;
        color: rgb(255, 255, 255);
        font-size: 110%;
        padding: 15%;
        padding-top: 0%;
    }
    
    .info {
        display: flex;
        flex-direction: column;
    }
    
    .cartao img {
        width: 300%;
        margin-left: 15%;
    }
    .cavaletes img {
        width: 300%;
        margin: 10% 8%;
    }
    .panfletos img {
        width: 300%;
        margin-left: 19%;
    }
        
    .orcamento img{
        width: 100%;
    }
    
    .social{
        height: 150px;
        display: flex;
    }
    
    .faleConoscoH2 h2{
        margin-top: 15%;
        font-size: 1.5em;
        text-align: center;
        color: rgb(9, 20, 38);
    }
    .faleConosco{
        width: 0%;
    }
    .faleConosco img {
        width: 0%;
    }
     .telefone img {
       width: 90%;
    }
    .whatsapp img {  
       width: 80%;
    }
      
    .footer {
        height: 250px;
        display: flex;
        flex-direction: column;
    }
    
    .contato {
        width: 80%;
        font-size: 1.5em;

    }
        
    .logo {
        width: 90%;        
    }
    .logo img{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 5%;
    }
}