body {
    background-color: rgb(9, 20, 38);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 100%;
    background-color: rgb(255, 255, 255);
}
.header {
    text-align: center;
    background-color: rgb(9, 20, 38)
}

.menu {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.menu .opcoes {
    display: inline-block;
}

.menu .opcoes .link {
    font-size: 25px;
    text-decoration: none;
    color: rgb(37, 38, 9);
    flex-basis: 2;
    margin-right: 50px;
}

.menu .opcoes .link:hover {
    background-color: rgb(9, 20, 38);
    border: 5px #DDBB64 solid;
    color: white;
    padding: 10px
}

.descricao {
    background-color:rgb(9, 20, 38);
    height: 750px;    
}
.descricao .servicos{
    margin-left: 12%;
    margin-top: 2%;
}

.descricao .texto {
    float: right;
    color: rgb(255, 255, 255);
    font-size: 130%;
    margin-right: 10%;
    margin-top: 5%;    
    text-align: center;
}
.descricao .texto p{
    max-width: 500px;    
    line-height: 70px;
}

.info {
    margin-top: 5%;
    display: flex;    
    justify-content: center;
}

.cartao {
    width: 30%;
}
.cartao img {
    width: 100%;
}

.cavaletes {
    width: 30%;
    margin-left: 2.5%;
}
.cavaletes img {
    width: 100%;
}

.panfletos {
    width: 30%;
    margin-left: 2.5%;
}
.panfletos img {
    width: 100%;
}



.orcamentos {
    text-align: center;
    margin-top: 5%;
    height: 200px;
}

.fale {
    color: rgb(9, 20, 38);
    width: 100%;
    text-align: center;
}

.social {
    margin-bottom: 5%;
    display: flex;   
    justify-content: center;
}

.social .icone img {
    width: 50px;
    padding: 5px;
}

.bot {
    background-color: rgb(9, 20, 38);
    height: 270px;
}

.bot .tel {
    font-size: 30px;
    color: white;
    text-align: center;
    float: left;
    width: 30%;
    margin-left: 10%;
    margin-top: 5%;
}

.bot .tel h2 {
    color: white;
}

.bot .tel a {
    text-decoration: none;
}

.bot .imagem {
    float: right;
    width: 30%;
    margin-top: 5%;
}